<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace = "index::Heading"></head>
<body>
<div class="container">
  <div th:replace="index::menu"></div>
  <div class="row my-3">
    <form th:action="@{/search}" method="get">
      <div class="col-6 d-flex">
        <button type="submit" class="btn btn-primary mx-3">Search</button>
        <input type="text" placeholder="type keyword here" name="name"/><br><br>
      </div>
    </form>
  </div>
  <!--    <table class="table">-->
  <!--        <thead>-->
  <!--        <th>#</th>-->
  <!--        <th >Name</th>-->
  <!--        <th >Category</th>-->
  <!--        <th >Detail</th>-->
  <!--        <th >Photo</th>-->
  <!--        </thead>-->
  <!--        <tbody>-->
  <!--        <tr th:each="product,iter:${products}">-->
  <!--            <td th:text="${iter.index + 1}"></td>-->
  <!--            <td>-->
  <!--                <a th:href="@{/listProduct/{id}(id=${product.id})}">-->
  <!--                    <span th:text="${product.name}"></span>-->
  <!--                </a>-->
  <!--            </td>-->
  <!--            <td th:text="${product.category}"></td>-->
  <!--            <td th:text="${product.detail}"></td>-->
  <!--            <td>-->
  <!--                <img th:src="@{/photos/{name}.jpg(name=${product.photo})}" class="img-fluid">-->
  <!--            </td>-->
  <!--        </tr>-->
  <!--        </tbody>-->
  <!--    </table>-->
  <tr th:each="product,iter:${products}">
    <div class="card mb-5 my-auto mx-auto" style="max-width: 540px;">
      <div class="row g-2 my-auto mx-auto" >
        <div class="col-md-4 ">
          <img th:src="@{/photos/{name}.jpg(name=${product.photo})}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" th:text="${product.name}"></h5>
            <p class="card-text" th:text="${product.category}"></p>
            <p class="card-text" th:text="${product.detail}"></p>
            <a th:href="@{'/product/edit/' + ${product.id}}" class="btn btn-primary">Edit</a>
            <a th:href="@{'/product/delete/' + ${product.id}}" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </tr>
</div>
</body>
</html>