<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace = "index::Heading"></head>
<body>
<div class="container">
    <div th:replace="index::menu"></div>
        <table class="table">
            <thead>
            <th >#</th>
            <th >Category</th>
            <th >Action</th>
            </thead>
            <tbody>
            <tr th:each="cat,iter:${cats}">
                <td th:text="${iter.index + 1}"></td>
                <td>
                    <a th:action="@{/searchCategory}" method="get">
                        <span th:text="${cat.name}"></span>
                    </a>
                </td>
                <td>
                    <span><a th:href="@{/cat/edit/{id}(id=${cat.id})}">Edit</a></span>&nbsp;
                    <span><a th:href="@{/cat/delete/{id}(id=${cat.id})}">Delete</a></span>
                </td>
            </tr>
            </tbody>
        </table>
</div>
</body>
</html>