<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::header(list)">

</head>
<body>
<div class="container">
  <div th:replace="index::navbar(list)"></div>
  <table class="table">
    <thead>
    <th>#</th>
    <th>Brand</th>
    <th>Manufacturer</th>
    <th>Pic</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr th:each="car,iter:${cars}">
      <td th:text="${iter.index + 1}"></td>
      <td>
      <td th:text="${car.brand"></td>
      </td>
      <td th:text="${car.manufacturer}"></td>
      <td>
        <img th:src="@{/photos/{name}.jpg(name=${car.photo})}" class="img-fluid">
      </td>
      <td>
                        <span>
                            <a th:href="@{/car/edit/{id}(id=${car.id})}">Edit</a>
                        </span>&nbsp; &nbsp;
        <span>
                            <a th:href="@{/car/delete/{id}(id=${car.id})}">Delete</a>
                        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>