<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::header(list)">
</head>
<body>
<div class="container">
  <div th:replace="index::navbar(list)"></div>
  <table class="table align-middle">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Brand</th>
      <th scope="col">Manufacturer</th>
      <th scope="col">Pic</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car,iter:${cars}">
      <td th:text="${iter.index + 1}"></th>
      <td th:text="${car.brand}"></td>
      <td th:text="${car.manufacturer}"></td>
      <td>
        <img th:src="@{/photos/{name}.jpg(name=${car.photo})}" class="img-fluid">
      </td>
      <td>
        <a th:src="@{/photos/{name}.jpeg(name=${car.photo})}" class="img-fluid">Photos</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>